*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    color: black !important;
    opacity: 1;
}



nav{
    font-size: .9rem;
    font-weight: 600;
    color: #0099e6;
    .navbar-brand{
        @media(max-width:768px){
            
                img{
                    width: 140px;
                }
            
        }
    }

    .collapse{
        ul{

            @media(max-width:992px){

                .nav-item{
                    width: 40%;
                    margin: auto;
                    text-align: center;
                }
            }
        }
    }

    .nav-left{
        display: flex;
        ul{
            li{
                font-weight: 300;
            }
        }
        .fas{
            font-size: 1.5rem;
        }
    }
    @media(max-width:992px){
        .nav-left{
            justify-content: center;
            padding-top: 1rem;
        }
    }

    
}

.white-bitch{
    color: white !important;
}

.section-1{
        
            .carousel{

                
                .carousel-inner{
                    .carousel-item{
                        position: relative;



                        .text-carousel{
                            position: absolute;
                            top:0;
                            left: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 55%;

                            h1{
                                font-size:  clamp(1.3rem,5vw ,3.3rem);
                                font-weight: 800;
                                white-space: nowrap;
                              
                            }

                            h5{
                                font-size: 24px;
                                font-size:  clamp(.5rem,3vw ,1.4rem);
                                text-align: center;

                            }

                            h3{
                                font-size:  clamp(.5rem,3vw ,1.4rem);

                                color: rgb(255, 195, 59);
                             
                                
                            }
                        }
                    }
                }

                .carousel-control-prev, .carousel-control-next{

                    .icon{
                        i{
                            color: #ffc33b;
                            font-size: 30px;
                            text-shadow: 3px 1px 5px black;
                            @media(max-width: 600px){
                                font-size: 25px;
                            }
                        }

                    }

                }
            
        }
    
}

.section-2{
    background: #1d2127;
    .container-fluid{
        .row{
            .outer{
                position:relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(-10%);

                @media(max-width: 768px){
                    transform: translateX(0);
                }
                    h1{
                padding: 3rem 0;
                  font-size:45px;
                  color: white;
                }
                .inner{
                  position:absolute;
                  border:0px solid #ddd;
                  height:50px;
                  line-height:50px;
                  font-size:45px;
                  text-transform:uppercase;
                  overflow:hidden;
                  display:inline-block;
                  transform: translateX(10px);

                  @media(max-width: 768px){
                      display: flex;
                      transform: translateX(30px);
                  }
                  span{
                    animation:animate 10s ease infinite;
                    position:relative;
                    color:#e58e26;
                  }
                }
              }

        }
    }
}


@keyframes animate{
    0%{
      top:0;
    }
    
    20%{
      top:0px;
    }  
    25%{
      top:-50px;
    }
    45%{
      top:-50px;
    }
    50%{
      top:-100px;
    }
    70%{
      top:-100px;
    }
    75%{
      top:-150px;
    }
    95%{
      top:-150px;
    }
    100%{
        top:0;
      }
  }
  

  .section-3{
      .container{
          .bitch{
              display: flex;
              justify-content: center;
              h2{
                  text-align: center;
                  color: #00539e;
                  font-size: 30px;
                  font-weight: 700;
              }
              p{
                  text-align: center;
                  font-weight: 300;
                  font-size: 15px;
                  line-height: 25px;
              }
              h4{
                  background-color: #f48b34;
                  text-align: center;
                  width: 15%;
                  color: white;
                  font-size: 1rem;
                  padding: 6px 12px;
                  border-radius: 4px;
                  cursor: pointer;

                  @media(max-width:768px){
                      width: 30%;
                  }
              }
          }
      }
  }


  .section-4{
      .container{
          .row{
              .col-md-3{
                  .card{
                    border-radius: 10px;
                    border: 1px solid #ececec;
                    color: white;
                    text-align: center;
                    padding-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                   

                    .card-body{

                        h5{
                            font-size: 20px;
                            font-weight: bold;
                        }
                        p{
                            font-weight: 300;
                            font-size: 20px;
                            padding-top: 1rem;
                        }
                        .last-thing{
                            color: #dbdbdb;
                            font-weight: 300;

                            strong{
                                font-weight: 600;
                            }
                        }
                        
                    }
                  }
                  .card-1{
                    background: rgb(253, 144, 54);
                    position: relative;
                    &::after{
                        position: absolute;
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900;
                        content: '\f02e';
                        height: 20%;
                        width: 20%;
                        top: -10%;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                        // color: transparent;
                        border: 1px solid white;
                        border-radius: 50%;
                        background-color: rgb(0, 80, 151);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 1.4rem;
                        padding: 1.5rem;
                    }
                  }
                  .card-2{
                      background: rgb(0, 80, 151);
                      position: relative;
                       &::after{
                            position: absolute;
                            font-family: "Font Awesome 5 Free"; 
                            font-weight: 900;
                            content: '\f02e';
                            height: 20%;
                            width: 20%;
                            top: -10%;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 1;
                            // color: transparent;
                            border: 1px solid white;
                            border-radius: 50%;
                            background-color: #ffc33b;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-size: 1.4rem;
                            padding: 1.5rem;
                        }
                  }
                  .card-3{
                      background: rgb(226, 34, 42);
                      position: relative;
                      &::after{
                        position: absolute;
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900;
                        content: '\f02e';
                        height: 20%;
                        width: 20%;
                        top: -10%;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                        // color: transparent;
                        border: 1px solid white;
                        border-radius: 50%;
                        background-color: rgb(0, 80, 151);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 1.4rem;
                        padding: 1.5rem;
                    }
                  }
                  .card-4{
                      background: rgb(0, 0, 0);
                      position: relative;
                      &::after{
                        position: absolute;
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900;
                        content: '\f02e';
                        height: 20%;
                        width: 20%;
                        top: -10%;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                        // color: transparent;
                        border: 1px solid white;
                        border-radius: 50%;
                        background-color: #ffc33b;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 1.4rem;
                        padding: 1.5rem;
                    }
                  }
                
              }
          }
      }
  }


  .section-5{
      .container-fluid{
          
              .bg-fixed{
                  background-image: url('https://www.autokeyconnection.com/wp-content/uploads/2016/06/28416659_xxl.jpg');
                  background-attachment: fixed;
                  background-repeat: no-repeat;
                  background-position: 0, -200px;
                  background-size: cover;

                  .outline{
                      h1{
                        background-color: rgba(0,80,151,0.61) !important;;
                        color: white;
                        font-size: 36px;
                        padding: 2rem 3rem;
                        text-align: center;

                        @media(min-height:560px){
                        padding: 1rem 1rem;
                        font-size: 40px;

                        }

                        }
                    }
                  }
              }
          
      }
  


  .section-6{
      .container{
          .row{
              .col-md-8{
                  h2{
                      text-align: center;
                      font-weight: 200;
                     }

                  .grid-container{
                      width: 100%;
                      display: grid;
                      grid-template-columns: 1fr 1fr;
                      gap: 2rem;

                      @media (max-width:560px){
                        grid-template-columns: 1fr;
                      }
                      
                          .grid-piece{
                              display: flex;
                              align-items: center;
                              @media (max-width:560px){
                                flex-direction: column;
                              }
                              
                              .icon{
                                  color: white;
                                  background-color: black;
                                  border-radius: 100%;
                                  display: flex;
                                  justify-content: space-between;
                                  padding: .5rem;
                                  @media (max-width:560px){
                                    margin-bottom: .8rem;
                                  }

                              }
                              h4{
                                  font-size: 1rem;
                                  line-height: 1.2rem;
                                  font-weight: 200;
                                  padding-left: 1rem;
                                //   white-space: nowrap;
                                  
                              }
                          }
                      

                  }   
                 

              }
              .col-md-4{
                  h3{
                      font-weight: 300;
                      @media (max-width:560px){
                        text-align: center;
                        padding-top: 2rem;
                      }
                  }
                  .accordion{
                      .accordion-item{
                          .accordion-header{
                              background-color: rgba(0, 0, 0, 0.03);
                              button{
                                  color: #fd9036;
                                  font-size: 1rem;
                                  font-weight: 400;
                                  i{
                                      margin-right: .7rem;
                                  }


                                  h2{
                                    font-size: 1rem;
                                    font-weight: 400;
                                    margin-bottom: 0;

                                  }

                              }
                          }
                          .accordion-collapse{
                            .accordion-body{
                                p{
                                    color: rgb(119, 119, 119);
                                    font-weight: 300;
                                }
                                h2{
                                    font-size: 25px;
                                    font-weight: 300;
                                }
                            }
                          }
                      }
                  }
              }

              .line-shit{
                  height: 1px;
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
              }
          }
      }
      
  }
  


  .section-7{

    // @media(max-width: 800px){
    //     margin-top: -2rem !important;
    // }
    background: linear-gradient(rgba(0, 0, 0, 0.281), white);
    svg{
        fill:white;
    }

      .container-fluid{
          .fucking-grid{

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            gap: 1rem;
            
                    @media(max-width: 1100px){
                        grid-template-columns: 1fr 1fr;

                        // display: flex;
                        // flex-wrap: wrap;
                        justify-items: center;
                        align-items: center;
                    }

                    @media(max-width: 600px){
                        grid-template-columns: 1fr;
                        row-gap: 10px; 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }



                .columnthreedude{
                    width: 100%;
                    justify-items: center;

                    @media(max-width: 1100px){
                        width: auto;
                    }

                    
                    
                    .card{
                        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 90%;
                    width: 90%;
                    overflow: hidden;
                    position: relative;
                    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.212);

                    @media(max-width: 1000px){
                        height: 220px;
                        width: 220px;
                        margin: 1rem;
                    }
                    @media(max-width: 740px){
                        height: 250px;
                        width: 250px;
                        margin: 1rem;
                    }
                    


                    &:hover{
                        .card-body{
                            .fas{
                                opacity: 1;
                            }
                            
                        }
                        .chain{
                            position: absolute;
                            transform: translate(70%, -70%);

                        }
                    }

                    
                    
                    .chain{
                            position: absolute;
                            top:0;
                            right: 0;
                            background-color: orange;
                            height: 200px;
                            width: 200px;
                            border-radius: 20%;
                            transform: translate(100%, -100%);
                            transition: .4s ease all;

                            .fas{
                                position: absolute;
                                bottom: 10%;
                                left: 10%;
                                font-size: 1.4rem;
                            }

                            
                        }


                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 30px;
                        width: 30px;
                        z-index: 1;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        transition: 1s ease all;
                        transform: scale(1.2);


                        

                        



                        &:hover{
                            transform: scale(1.4); 
                            }

                    }    
                    .card-body{

                        
                        
                        .fas{
                            position: absolute;
                            bottom: 5%;
                            right: 10px;
                            border-radius: 50%;
                            background-color: #fd9e4f;
                            color: white;
                            padding: .7rem;
                            z-index: 2;
                            opacity: 0;
                            transition: .4s all ease;
                        }
                        
                    

                        

                        h5{
                            position: absolute;
                            bottom: 5%;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.541);
                            color: white;
                            padding: .4rem;
                            text-align: right;
                            white-space: nowrap;
                            z-index: 2;

                        }
                    }

                }
                // .card-1{

                // }
                // .card-2{

                // }
                // .card-3{

                // }
                // .card-4{
                //     }
            }
          }
      }
  }


  .section-8{
    .container-fluid{
        
            .bg-fixed{
                background-image: url('https://www.autokeyconnection.com/wp-content/uploads/2016/06/contact-bg2.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-position: 0, -200px;
                background-size: cover;
                min-height: 30vh;

                .outline{ 
                    
                    h1{
                      background-color: #f79a0ee5;
                      color: black;
                      font-size: 30px;
                      padding: 0rem 2rem;
                      text-align: center;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-weight: 400;
                      line-height: 1.4;

                      
                                           
                      @media(min-height:560px){
                      padding: 1rem 1rem;
                      font-size: 40px;

                      }

                      }
                  }
                }
            }
        
    }


    .section-9{
        .container{
            .row{

                h3{
                    text-align: center;
                }
                .line-shit{
                    height: 1px;
                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
                }
                .slider {
                    background: white;
                    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
                    height: 60px;
                    margin: auto;
                    overflow:hidden;
                    position: relative;
                    width: 960px;
                    &::before,
                    &::after {
                        content: "";
                        height: 100px;
                        position: absolute;
                        width: 200px;
                        z-index: 2;
                    }
                    
                    &::after {
                        right: 0;
                        top: 0;
                        transform: rotateZ(180deg);
                    }
                
                    &::before {
                        left: 0;
                        top: 0;
                    }

                    .slide-track {
                        animation: scroll 20s linear infinite;
                        display: flex;
                        width: calc(250px * 15);

                    }

                    .slide {
                        height: 60px;
                        width: 250px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: .3rem;
                    }
                }


            }

            .row-2{

                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-top: calc(var(--bs-gutter-y) * -1);
                margin-right: calc(var(--bs-gutter-x) / -2);
                margin-left: calc(var(--bs-gutter-x) / -2);
                .card{
                    max-width: 240px;
                    margin: .5rem;
                }

            }
            
        }
    }



// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 5))}
}
    


.section-10{
    background: black;
    font-weight: 200;
    color: white;
    .container-fluid{
        .my-row{
            display: flex;
            justify-content: space-between;
            @media(max-width: 800px){
                display: flex;
                flex-direction: column;
            }
            .columnthreedude{
                @media(max-width: 800px){
                    width: 100% !important;
                    text-align: center;
                }
                

                h2{
                    font-weight: 200;
                    font-size: 23px;
                    padding-bottom: 1rem;
                    @media(max-width: 800px){
                        padding-top: 2.3rem;
                        padding-bottom: .3rem;
                    }

                }

                &.row-tree{
                    p{
                        line-height: 1.2;
                        font-size: 14px;
                    }

                    p:nth-child(3){
                        color: rgb(119, 119, 119);
                    }
                }

                .well{
                    form{
                        border: soldi 1px white;
                        .input-group{
                            margin: 20px auto;
                            width: 100%;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            @media(max-width: 850px){
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
                            input{
                                border-radius: 3px !important;
                                text-decoration: none;
                                background-color: white !important;
                                margin-bottom: 1rem;

                            }

                            button{
                                border-radius: 3px 3px 3px 3px !important;

                                outline: none;
                                border: none;
                                background-color: white;
                            }
                        }
                    }
                }
                

                .address{
                    line-height: 1.8;
                    color: rgb(119, 119, 119);
                    font-size: 13px;
                    @media(max-width: 800px){
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .address-top{
                        display: flex;
                        align-items: center;

                        i{
                            padding-right: .6rem;
                        }
                        p{
                            margin-bottom: 0;
                        }
                        
                    }
                }

                .phone{
                    line-height: 1.8;
                    color: rgb(119, 119, 119);
                    font-size: 13px;

                    @media(max-width: 800px){
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .phone-top{
                        display: flex;
                        align-items: center;
                        i{
                            padding-right: .6rem;
                        }
                        p{
                            margin-bottom: 0;
                        }
                    }
                }

                .email{
                    line-height: 1.8;
                    font-size: 15px;
                    @media(max-width: 800px){
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .email-top{
                        color: rgb(119, 119, 119);
                        font-size: 13px;
                        display: flex;
                        align-items: center;
                        i{
                            padding-right: .6rem;
                        }
                        p{
                            margin-bottom: 0;
                        }
                    }


                }

                ul{
                    padding-left: 0;
                    list-style: none;
                    li{
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 2;
                    }
                }
               
                .social-stuff{
                    display: flex;
                    @media(max-width: 800px){
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .social-icon{
                        background-color: #9e9e9e;
                        margin: .4rem;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: .2s ease-in-out all;
                        



                        &:hover{
                            
                            &.facebook{
                                background-color: #4267B2;
                            }
                            &.twitter{
                                background-color: #1DA1F2;
                            }
                            &.linkedin{
                                background-color:  #2867B2;
                            }
                        }
                    }
                }
            }

        }

        .row-bottom{
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            align-items: center;
            margin-top: calc(var(--bs-gutter-y) * -1);
            margin-right: calc(var(--bs-gutter-x) / -2);
            margin-left: calc(var(--bs-gutter-x) / -2);
            color: rgb(119, 119, 119);

            @media(max-width: 800px){
                flex-direction: column;
            }
            .left{
                img{
                    height: 20px;
                    padding-right: .6rem;
                
                }
                display: flex;
                flex-direction: row;
            }

        }
    }
}