* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  color: black !important;
  opacity: 1;
}

nav {
  font-size: .9rem;
  font-weight: 600;
  color: #0099e6;
}

@media (max-width: 768px) {
  nav .navbar-brand img {
    width: 140px;
  }
}

@media (max-width: 992px) {
  nav .collapse ul .nav-item {
    width: 40%;
    margin: auto;
    text-align: center;
  }
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-left ul li {
  font-weight: 300;
}

nav .nav-left .fas {
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  nav .nav-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
  }
}

.white-bitch {
  color: white !important;
}

.section-1 .carousel .carousel-inner .carousel-item {
  position: relative;
}

.section-1 .carousel .carousel-inner .carousel-item .text-carousel {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 55%;
}

.section-1 .carousel .carousel-inner .carousel-item .text-carousel h1 {
  font-size: clamp(1.3rem, 5vw, 3.3rem);
  font-weight: 800;
  white-space: nowrap;
}

.section-1 .carousel .carousel-inner .carousel-item .text-carousel h5 {
  font-size: 24px;
  font-size: clamp(0.5rem, 3vw, 1.4rem);
  text-align: center;
}

.section-1 .carousel .carousel-inner .carousel-item .text-carousel h3 {
  font-size: clamp(0.5rem, 3vw, 1.4rem);
  color: #ffc33b;
}

.section-1 .carousel .carousel-control-prev .icon i, .section-1 .carousel .carousel-control-next .icon i {
  color: #ffc33b;
  font-size: 30px;
  text-shadow: 3px 1px 5px black;
}

@media (max-width: 600px) {
  .section-1 .carousel .carousel-control-prev .icon i, .section-1 .carousel .carousel-control-next .icon i {
    font-size: 25px;
  }
}

.section-2 {
  background: #1d2127;
}

.section-2 .container-fluid .row .outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

@media (max-width: 768px) {
  .section-2 .container-fluid .row .outer {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.section-2 .container-fluid .row .outer h1 {
  padding: 3rem 0;
  font-size: 45px;
  color: white;
}

.section-2 .container-fluid .row .outer .inner {
  position: absolute;
  border: 0px solid #ddd;
  height: 50px;
  line-height: 50px;
  font-size: 45px;
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media (max-width: 768px) {
  .section-2 .container-fluid .row .outer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

.section-2 .container-fluid .row .outer .inner span {
  -webkit-animation: animate 10s ease infinite;
          animation: animate 10s ease infinite;
  position: relative;
  color: #e58e26;
}

@-webkit-keyframes animate {
  0% {
    top: 0;
  }
  20% {
    top: 0px;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

@keyframes animate {
  0% {
    top: 0;
  }
  20% {
    top: 0px;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

.section-3 .container .bitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3 .container .bitch h2 {
  text-align: center;
  color: #00539e;
  font-size: 30px;
  font-weight: 700;
}

.section-3 .container .bitch p {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}

.section-3 .container .bitch h4 {
  background-color: #f48b34;
  text-align: center;
  width: 15%;
  color: white;
  font-size: 1rem;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-3 .container .bitch h4 {
    width: 30%;
  }
}

.section-4 .container .row .col-md-3 .card {
  border-radius: 10px;
  border: 1px solid #ececec;
  color: white;
  text-align: center;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-4 .container .row .col-md-3 .card .card-body h5 {
  font-size: 20px;
  font-weight: bold;
}

.section-4 .container .row .col-md-3 .card .card-body p {
  font-weight: 300;
  font-size: 20px;
  padding-top: 1rem;
}

.section-4 .container .row .col-md-3 .card .card-body .last-thing {
  color: #dbdbdb;
  font-weight: 300;
}

.section-4 .container .row .col-md-3 .card .card-body .last-thing strong {
  font-weight: 600;
}

.section-4 .container .row .col-md-3 .card-1 {
  background: #fd9036;
  position: relative;
}

.section-4 .container .row .col-md-3 .card-1::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f02e';
  height: 20%;
  width: 20%;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #005097;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.4rem;
  padding: 1.5rem;
}

.section-4 .container .row .col-md-3 .card-2 {
  background: #005097;
  position: relative;
}

.section-4 .container .row .col-md-3 .card-2::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f02e';
  height: 20%;
  width: 20%;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #ffc33b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.4rem;
  padding: 1.5rem;
}

.section-4 .container .row .col-md-3 .card-3 {
  background: #e2222a;
  position: relative;
}

.section-4 .container .row .col-md-3 .card-3::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f02e';
  height: 20%;
  width: 20%;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #005097;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.4rem;
  padding: 1.5rem;
}

.section-4 .container .row .col-md-3 .card-4 {
  background: black;
  position: relative;
}

.section-4 .container .row .col-md-3 .card-4::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f02e';
  height: 20%;
  width: 20%;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #ffc33b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.4rem;
  padding: 1.5rem;
}

.section-5 .container-fluid .bg-fixed {
  background-image: url("https://www.autokeyconnection.com/wp-content/uploads/2016/06/28416659_xxl.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0, -200px;
  background-size: cover;
}

.section-5 .container-fluid .bg-fixed .outline h1 {
  background-color: rgba(0, 80, 151, 0.61) !important;
  color: white;
  font-size: 36px;
  padding: 2rem 3rem;
  text-align: center;
}

@media (min-height: 560px) {
  .section-5 .container-fluid .bg-fixed .outline h1 {
    padding: 1rem 1rem;
    font-size: 40px;
  }
}

.section-6 .container .row .col-md-8 h2 {
  text-align: center;
  font-weight: 200;
}

.section-6 .container .row .col-md-8 .grid-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 560px) {
  .section-6 .container .row .col-md-8 .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section-6 .container .row .col-md-8 .grid-container .grid-piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 560px) {
  .section-6 .container .row .col-md-8 .grid-container .grid-piece {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-6 .container .row .col-md-8 .grid-container .grid-piece .icon {
  color: white;
  background-color: black;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
}

@media (max-width: 560px) {
  .section-6 .container .row .col-md-8 .grid-container .grid-piece .icon {
    margin-bottom: .8rem;
  }
}

.section-6 .container .row .col-md-8 .grid-container .grid-piece h4 {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 200;
  padding-left: 1rem;
}

.section-6 .container .row .col-md-4 h3 {
  font-weight: 300;
}

@media (max-width: 560px) {
  .section-6 .container .row .col-md-4 h3 {
    text-align: center;
    padding-top: 2rem;
  }
}

.section-6 .container .row .col-md-4 .accordion .accordion-item .accordion-header {
  background-color: rgba(0, 0, 0, 0.03);
}

.section-6 .container .row .col-md-4 .accordion .accordion-item .accordion-header button {
  color: #fd9036;
  font-size: 1rem;
  font-weight: 400;
}

.section-6 .container .row .col-md-4 .accordion .accordion-item .accordion-header button i {
  margin-right: .7rem;
}

.section-6 .container .row .col-md-4 .accordion .accordion-item .accordion-header button h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.section-6 .container .row .col-md-4 .accordion .accordion-item .accordion-collapse .accordion-body p {
  color: #777777;
  font-weight: 300;
}

.section-6 .container .row .col-md-4 .accordion .accordion-item .accordion-collapse .accordion-body h2 {
  font-size: 25px;
  font-weight: 300;
}

.section-6 .container .row .line-shit {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.section-7 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.281)), to(white));
  background: linear-gradient(rgba(0, 0, 0, 0.281), white);
}

.section-7 svg {
  fill: white;
}

.section-7 .container-fluid .fucking-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}

@media (max-width: 1100px) {
  .section-7 .container-fluid .fucking-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .section-7 .container-fluid .fucking-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-7 .container-fluid .fucking-grid .columnthreedude {
  width: 100%;
  justify-items: center;
}

@media (max-width: 1100px) {
  .section-7 .container-fluid .fucking-grid .columnthreedude {
    width: auto;
  }
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 90%;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.212);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.212);
}

@media (max-width: 1000px) {
  .section-7 .container-fluid .fucking-grid .columnthreedude .card {
    height: 220px;
    width: 220px;
    margin: 1rem;
  }
}

@media (max-width: 740px) {
  .section-7 .container-fluid .fucking-grid .columnthreedude .card {
    height: 250px;
    width: 250px;
    margin: 1rem;
  }
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card:hover .card-body .fas {
  opacity: 1;
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card:hover .chain {
  position: absolute;
  -webkit-transform: translate(70%, -70%);
          transform: translate(70%, -70%);
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card .chain {
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card .chain .fas {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 1.4rem;
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  z-index: 1;
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card img {
  height: 100%;
  width: 100%;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card .card-body .fas {
  position: absolute;
  bottom: 5%;
  right: 10px;
  border-radius: 50%;
  background-color: #fd9e4f;
  color: white;
  padding: .7rem;
  z-index: 2;
  opacity: 0;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.section-7 .container-fluid .fucking-grid .columnthreedude .card .card-body h5 {
  position: absolute;
  bottom: 5%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  padding: .4rem;
  text-align: right;
  white-space: nowrap;
  z-index: 2;
}

.section-8 .container-fluid .bg-fixed {
  background-image: url("https://www.autokeyconnection.com/wp-content/uploads/2016/06/contact-bg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0, -200px;
  background-size: cover;
  min-height: 30vh;
}

.section-8 .container-fluid .bg-fixed .outline h1 {
  background-color: #f79a0ee5;
  color: black;
  font-size: 30px;
  padding: 0rem 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 1.4;
}

@media (min-height: 560px) {
  .section-8 .container-fluid .bg-fixed .outline h1 {
    padding: 1rem 1rem;
    font-size: 40px;
  }
}

.section-9 .container .row h3 {
  text-align: center;
}

.section-9 .container .row .line-shit {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.section-9 .container .row .slider {
  background: white;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 60px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.section-9 .container .row .slider::before, .section-9 .container .row .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.section-9 .container .row .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.section-9 .container .row .slider::before {
  left: 0;
  top: 0;
}

.section-9 .container .row .slider .slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 15);
}

.section-9 .container .row .slider .slide {
  height: 60px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: .3rem;
}

.section-9 .container .row-2 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.section-9 .container .row-2 .card {
  max-width: 240px;
  margin: .5rem;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 5));
            transform: translateX(calc(-250px * 5));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 5));
            transform: translateX(calc(-250px * 5));
  }
}

.section-10 {
  background: black;
  font-weight: 200;
  color: white;
}

.section-10 .container-fluid .my-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .section-10 .container-fluid .my-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .section-10 .container-fluid .my-row .columnthreedude {
    width: 100% !important;
    text-align: center;
  }
}

.section-10 .container-fluid .my-row .columnthreedude h2 {
  font-weight: 200;
  font-size: 23px;
  padding-bottom: 1rem;
}

@media (max-width: 800px) {
  .section-10 .container-fluid .my-row .columnthreedude h2 {
    padding-top: 2.3rem;
    padding-bottom: .3rem;
  }
}

.section-10 .container-fluid .my-row .columnthreedude.row-tree p {
  line-height: 1.2;
  font-size: 14px;
}

.section-10 .container-fluid .my-row .columnthreedude.row-tree p:nth-child(3) {
  color: #777777;
}

.section-10 .container-fluid .my-row .columnthreedude .well form {
  border: soldi 1px white;
}

.section-10 .container-fluid .my-row .columnthreedude .well form .input-group {
  margin: 20px auto;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 850px) {
  .section-10 .container-fluid .my-row .columnthreedude .well form .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-10 .container-fluid .my-row .columnthreedude .well form .input-group input {
  border-radius: 3px !important;
  text-decoration: none;
  background-color: white !important;
  margin-bottom: 1rem;
}

.section-10 .container-fluid .my-row .columnthreedude .well form .input-group button {
  border-radius: 3px 3px 3px 3px !important;
  outline: none;
  border: none;
  background-color: white;
}

.section-10 .container-fluid .my-row .columnthreedude .address {
  line-height: 1.8;
  color: #777777;
  font-size: 13px;
}

@media (max-width: 800px) {
  .section-10 .container-fluid .my-row .columnthreedude .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-10 .container-fluid .my-row .columnthreedude .address .address-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-10 .container-fluid .my-row .columnthreedude .address .address-top i {
  padding-right: .6rem;
}

.section-10 .container-fluid .my-row .columnthreedude .address .address-top p {
  margin-bottom: 0;
}

.section-10 .container-fluid .my-row .columnthreedude .phone {
  line-height: 1.8;
  color: #777777;
  font-size: 13px;
}

@media (max-width: 800px) {
  .section-10 .container-fluid .my-row .columnthreedude .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-10 .container-fluid .my-row .columnthreedude .phone .phone-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-10 .container-fluid .my-row .columnthreedude .phone .phone-top i {
  padding-right: .6rem;
}

.section-10 .container-fluid .my-row .columnthreedude .phone .phone-top p {
  margin-bottom: 0;
}

.section-10 .container-fluid .my-row .columnthreedude .email {
  line-height: 1.8;
  font-size: 15px;
}

@media (max-width: 800px) {
  .section-10 .container-fluid .my-row .columnthreedude .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-10 .container-fluid .my-row .columnthreedude .email .email-top {
  color: #777777;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-10 .container-fluid .my-row .columnthreedude .email .email-top i {
  padding-right: .6rem;
}

.section-10 .container-fluid .my-row .columnthreedude .email .email-top p {
  margin-bottom: 0;
}

.section-10 .container-fluid .my-row .columnthreedude ul {
  padding-left: 0;
  list-style: none;
}

.section-10 .container-fluid .my-row .columnthreedude ul li {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
}

.section-10 .container-fluid .my-row .columnthreedude .social-stuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .section-10 .container-fluid .my-row .columnthreedude .social-stuff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-10 .container-fluid .my-row .columnthreedude .social-stuff .social-icon {
  background-color: #9e9e9e;
  margin: .4rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
}

.section-10 .container-fluid .my-row .columnthreedude .social-stuff .social-icon:hover.facebook {
  background-color: #4267B2;
}

.section-10 .container-fluid .my-row .columnthreedude .social-stuff .social-icon:hover.twitter {
  background-color: #1DA1F2;
}

.section-10 .container-fluid .my-row .columnthreedude .social-stuff .social-icon:hover.linkedin {
  background-color: #2867B2;
}

.section-10 .container-fluid .row-bottom {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  color: #777777;
}

@media (max-width: 800px) {
  .section-10 .container-fluid .row-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-10 .container-fluid .row-bottom .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-10 .container-fluid .row-bottom .left img {
  height: 20px;
  padding-right: .6rem;
}
/*# sourceMappingURL=style.css.map */